<div class="contents row">
  <h3>投稿詳細</h3>
  <div class="content_post" style="background-image: url(<%= @tweet.image %>)">
    <% if user_signed_in? && current_user.id == @tweet.user_id %>
      <div class="more">
        <span><%= image_tag 'arrow_top.png' %></span>
        <ul class="more_list">
          <li>
            <!--<#%= link_to '編集', "/tweets/#{tweet.id}/edit", method: :get %>-->
            <%= link_to '編集', edit_tweet_path(@tweet) %>
          </li>
          <li>
            <!--<#%= link_to '削除', "/tweets/#{tweet.id}", method: :delete %>-->
            <%= link_to '削除', tweet_path(@tweet), method: :delete %>
          </li>
        </ul>
      </div>
    <% end %>
    <%= simple_format(@tweet.text) %>
    <span class="name">
      <a href="/users/<%= @tweet.user.id %>">
        <span>投稿者</span><%= @tweet.user.nickname %>
      </a>
    </span>
  </div>
  
  <!--ここからコメント投稿フォーム-->
  <% if current_user %>
		<div class="container">
			<%= form_with url: "/tweets/#{@tweet.id}/comments", local: true do |f| %>
				<%= f.text_area :text, placeholder: 'コメントする', rows: 10, cols: 30, class: 'form-control' %>
				<%= f.submit "コメントを投稿", class: 'btn-block btn-white vertical-btn' %>
			<% end %>
		</div>
  <% end %>
  
  <div class="comments">
  	<h4>＜コメント一覧＞</h4>
  	<% if @comments.exists? %>
  		<% @comments.each do |comment| %>
  			<!--<p><strong><#%= link_to comment.user.nickname, user_path(comment) %></strong></p>-->
  			<p>
  				<strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>: </strong>
  				<%= comment.text %>
  			</p>
  		<% end %>
  	<% else %>
  		<p>まだコメントはありません。</p>
  	<% end %>
  </div>
</div>